<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectDatDoAn"
        tools:targetApi="31">

        <activity
            android:name="tiendhph30203.poly.madaothangvaa.SanPham.DanhGiaSanPham"
            android:exported="false"
            />
        <activity
            android:name="tiendhph30203.poly.madaothangvaa.FragmentHoaDon.HoaDonChiTietActivity"
            android:exported="false" />
        <activity
            android:name="tiendhph30203.poly.madaothangvaa.manhinhchao2Activity"
            android:exported="false" />
        <activity
            android:name="tiendhph30203.poly.madaothangvaa.manhinhlogin"
            android:exported="false" />
        <activity
            android:name="tiendhph30203.poly.madaothangvaa.FragmentHoaDon.DaXacNhanKhachHangFragment"
            android:exported="false" />
        <activity
            android:name="tiendhph30203.poly.madaothangvaa.DonMua.BottomSheetDialogXacNhanHoaDon"
            android:exported="false" />
        <activity
            android:name="tiendhph30203.poly.madaothangvaa.GioHang.CartListComfirmAdapter"
            android:exported="false" />
        <activity
            android:name="tiendhph30203.poly.madaothangvaa.GioHang.XacNhanThongTinGioHang"
            android:exported="false" />
        <activity
            android:name="tiendhph30203.poly.madaothangvaa.GioHang.CartListAdapter"
            android:exported="false" />
        <activity
            android:name="tiendhph30203.poly.madaothangvaa.GioHang.GioHangActivity"
            android:exported="false" />
        <activity
            android:name="tiendhph30203.poly.madaothangvaa.showchonthongtindonhang"
            android:exported="false" />
        <activity
            android:name="tiendhph30203.poly.madaothangvaa.manhinhdangky"
            android:exported="false" />
        <activity
            android:name="tiendhph30203.poly.madaothangvaa.Tablayoutactivity"
            android:exported="false" />
        <activity
            android:name="tiendhph30203.poly.madaothangvaa.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="tiendhph30203.poly.madaothangvaa.manhinhchaoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="tiendhph30203.poly.madaothangvaa.manhinhchao2Activity"
            android:exported="false"/>
    </application>

</manifest>